/* ~/.config/rofi/catppuccin-menu.rasi */

* {
    background-color:   #1e1e2e;
    text-color:         #cdd6f4;
    font:               "JetBrains Mono Bold 16px";
    border-radius:      10px;
}

window {
    width:      250px;
    padding:    15px;
    border:       2px;
    border-color: #11111b;
    location:   north east;
    x-offset:   -10px;
    y-offset:   65px;
}

mainbox {
    children:   [ listview ];
    spacing:    10px;
}

listview {
    lines:      3;
    columns:    1;
    layout:     vertical;
}

element {
    padding:        10px;
    border-radius:  8px;
}

element-text {
    background-color:   inherit;
    text-color:         inherit;
}

element.selected {
    background-color:   #89b4fa;
    text-color:         #1e1e2e;
}
