/* ~/.config/rofi/powermenu-vertical.rasi */

* {
    background:       #1e1e2e;
    background-alt:   #181825;
    foreground:       #cdd6f4;
    selected:         #f38ba8;

    font:             "JetBrains Mono Nerd Font Bold 16";
    background-color: transparent;
    text-color:       @foreground;
}

window {
    background-color: @background;
    border:           2px;
    border-color:     @background-alt;
    border-radius:    10px;
    width:            300px;
    location:         center;
    anchor:           center;
    padding:          20px;
}

mainbox {
    children:   [ "message", "listview" ];
    spacing:    15px;
}

message {
    background-color: @background-alt;
    border-radius:    10px;
    padding:          10px;
    horizontal-align: 0.5;
}

inputbar {
    enabled: false;
}

listview {
    layout:     vertical;
    columns:    1;
    lines:      5; /* <-- CHANGED FROM 4 TO 5 */
    spacing:    15px;
}

element {
    background-color: @background-alt;
    border:           2px;
    border-color:     @background-alt;
    border-radius:    10px;
    padding:          15px;
}

element-text {
    background-color: inherit;
    text-color:       inherit;
    horizontal-align: 0.5;
}


element selected {
    background-color: @selected;
    text-color:       @background-alt;
    border-color:     @selected;
}
